#evaluateBD {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#evaluateBD_comment {
    width: 100%;
    height: auto;
}

#evaluateBD_cmt {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 15px;
}

#evaluateBD_form {
    width: 950px;
}

#evaluateBD_cmt-title {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Roboto", serif;
}

#evaluateBD_cmt-start {
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-top: 2.5px;
}

.evaluateBD-start {
    font-size: 2rem!important;
}

.MuiRating-iconActive {
    margin-top: -0.5px;
}

.css-hlbajn-MuiRating-label {
    top: 5px;
}

.css-q098wk-MuiRating-decimal {
    top: 5px;
}

#evaluateBD_input {
    width: 100%;
    height: 15rem;
    margin-top: 5px;
}

#evaluateBD_input-text {
    width: 100%;
    height: 100%;
    outline: none;
    text-align: start;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
    padding: 3px 8px;
    resize: none;
    box-sizing: border-box;
}

#evaluateBD_input-text::placeholder {
    font-size: 21px;
}

#evaluateBD_btn {
    margin-top: 15px;
}

#evaluateBD_btn-submit {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    border: 1.5px solid #1687ff;
    background-color: #1687ff;
}

#evaluateBD_feedback {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

#evaluateBD_feedback-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

#evaluateBD_feedback-blk {
    width: 100%;
    margin-top: 15px;
}

#evaluateBD_feedback-block {
    width: 100%;
    margin-bottom: 10px;
}

#feedback_user {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    column-gap: 10px;
}

#feedback_user-blk {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#feedback_user-name {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Roboto", serif;
}

.feedback_user-ratting {
    font-size: 1rem!important;
}

#feedback_comment {
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}

#feedback_comment-blk1 {
    width: 90%;
    display: flex;
}

#feedback_comment-text {
    font-size: 1rem;
}

#feedback_comment-btn2 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.feedback_comment-button {
    font-size: 1.5rem;
}