#listBook {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0f0;
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#listBook_block1 {
    width: 100%;
    height: auto;
    /* background-color: #fff; */
    padding: 1% 0;
    display: flex;
    justify-content: end;
    align-items: start;
}

#lb_block1 {
    width: 1300px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lb-icon {
    font-size: 2.25rem;
    /* transform: scaleX(-1); */
}